
@model Podcast.Models.PodcastViewModel

@{
    ViewData["Title"] = "Update";
}

<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Update Podcast </h4>
        </div>
        <div class="card-body">
            <form asp-controller="DashBoard" asp-action="Update" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.Title" class="control-label"></label>
                            <input asp-for="@Model.Title" class="form-control" />
                            <span asp-validation-for="@Model.Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.Tag" class="control-label"></label>
                            <input asp-for="@Model.Tag" class="form-control" />
                            <span asp-validation-for="@Model.Tag" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.Description" class="control-label"></label>
                            <input asp-for="@Model.Description" class="form-control" />
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                    </div>


                </div>

                

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.Audio" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="@Model.Audio" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="@Model.Audio" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  